.vscode/
.idea
.DS_Store
.gigaide
img/*
.env
.env.runtime
public_url.txt
deploy/docker/public_url.txt
log/

# Binaries
*.tar.gz
TinyClaw*
!tinyclaw.service
*.log
*.db
go_build_*
TinyClawAdmin*
github.com

conf/mcp/mcp-*.json
conf/systemd/.env-*
conf/systemd/tinyclaw-*.service

bin/
build/
data/
